// Display on left side
.display-l {
  height: $per-section;
  max-width: 100%;
  position: relative;

  &__img {
    // margin-right: -5rem;
    width: 40rem;
    height: 100%;
    object-fit: cover;
    box-shadow: $box-shadow;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    transform: translateX(15%);

    @include respond (small-desktop) {
      width: 35rem;
    }

    @include respond (tab-land) {
      position: relative;
      float: left;
      width: 60%;
      transform: translateX(10%);
      object-fit: contain;
    }

    @include respond (phone) {
      width: 100%;
      height: 50vh;
      margin-bottom: 2em;
      transform: translateX(0);
    }
  }

  &__btn {
    height: 100%;
    width: 20%;
    float: right;
    z-index: 1000;
    margin-right: 2rem;

    @include respond (tab-land) {
      transform: translateX(-10%);
    }

    @include respond (phone) {
      width: 100%;
      height: 20%;
      margin-right: 0;
      transform: translateX(0);
    }

    &-each {
      display: block;
      margin: 0 0 0.3rem 0;
      background-color: $white;
      border: none;
      box-shadow: $box-shadow;
      height: 30%;
      width: 10rem;
      transition: all .4s ease-out;

      @include respond (tab-land) {
        margin: 0 0 0.8rem 0;
        width: 8em;
      }

      @include respond (phone) {
        display: inline-block;
        width: 32%;
        height: 100%;
      }

      &:hover {
        transform: translateX(2rem);
        animation-fill-mode: forwards;

        @include respond (tab-port) {
          transform: translateX(0);
        }
      }
      
      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(1rem) translateX(2rem);
        box-shadow: $box-shadow-clicked;

        @include respond (tab-port) {
          transform: translateY(1rem) translateX(0);
        }
      }

      img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
      
    }
  }

}

// Display on right side
.display-r {
  height: $per-section;
  max-width: 100%;
  position: relative;

  &__img {
    width: 40rem;
    height: 100%;
    object-fit: cover;
    box-shadow: $box-shadow;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
    

    @include respond (small-desktop) {
      width: 35rem;
    }

    @include respond (tab-land) {
      float: left;
      position: relative;
      width: 60%;
      transform: translateX(20%);
      object-fit: contain;

    }

    @include respond (tab-port) {
      transform: translateX(10%);
    }

    @include respond (phone) {
      width: 100%;
      height: 50vh;
      margin-bottom: 2em;
      transform: translateX(0);
    }
  }

  &__btn {
    height: 100%;
    width: 20%;
    float: left;
    z-index: 1000;
    margin-left: 1.5rem;

    @include respond (tab-land) {
      float: right;
      margin-right: 2rem;
      margin-left: 0;
    }

    @include respond (tab-port) {
      margin-right: 4rem;
    }

    @include respond (phone) {
      width: 100%;
      height: 20%;
      margin-right: 0;
    }

    &-each {
      display: block;
      margin: 0 -6rem 0.3rem 5rem;
      background-color: $white;
      border: none;
      box-shadow: $box-shadow;
      height: 30%;
      width: 10rem;
      transition: all .4s ease-out;


      @include respond (tab-land) {
        margin: 0 0 0.8rem 0;
        display: inline-block;
        height: 30%;
        width: 10em;
      }

      @include respond (phone) {
        display: inline-block;
        width: 32%;
        height: 100%;
      }
      &:hover {
        transform: translateX(-2rem);
        animation-fill-mode: forwards;

        @include respond (tab-port) {
          transform: translateX(0);
        }
      }
      
      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(1rem) translateX(-2rem);
        box-shadow: $box-shadow-clicked;

        @include respond (tab-port) {
          transform: translateY(1rem) translateX(0);
        }
      }

      img {
        height: 100%;
        max-width: 100%;
        object-fit: cover;
      }

    }
  }

}

