body {
  font-family: $font-primary;
  font-size: $font-size-small;
  font-weight: $font-weight-default;
  letter-spacing: 0.1rem;
}

.title {
  text-align: center;

  &__title{
    font-size: $font-size-huge;
    font-weight: $font-weight-default;
    margin-bottom: 1rem;

    &-mini {
      font-size: $font-size-medium;
      font-weight: $font-weight-default;
    }
  }
}

.sidebar__menu {
  list-style: none;
  font-size: $font-size-medium;
  font-weight: $font-weight-default;
  line-height: $font-size-big;
  
  &-a {
    color: $grey-medium;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }
}

.section{
  text-align: center;

  &-text {
    margin: 15vh auto;
  }

  &__title {
    font-family: 'Dancing script';
    font-size: $font-size-big;
    font-weight: $font-weight-default;

    @include respond(tab-land) {
      font-size: $font-size-huge;
      margin-top: 1em;
    }

    &-ikebana {
      color: $red;
    }

     &-eropa {
      color: $blue;
     }

     &-freestyle {
       color: $green;
     }

  }

  &__desc {
    font-weight: 100;
    font-size: $font-size-small;
    list-style: none;
    padding: 0;
    color: #4a4a4a;

    li {
      margin: 1rem auto;
    }
  }

  &__kontak {
    &--kiri {
      text-align: left;
      color: $white;

      @include respond (tab-land){
        text-align: center;
      }

      .h4 {
        font-size: $font-size-medium;
        font-weight: $font-weight-default;
      }

      .h3 {
        font-size: $font-size-big;
        font-weight: $font-weight-default;
      }
    }

    &--kanan {
      font-family: $font-secondary;
      
      &-tlp, &-email {
        font-weight: $font-weight-default;
      }
    }
  }

  &__karya {
    &--kiri{
      text-align: right;
      color: $white;

      @include respond (tab-land){
        text-align: center;
      }

      .h3 {
        font-size: $font-size-big;
        font-weight: $font-weight-default;
      }
    }

    &--kanan {
      font-family: $font-secondary;
      font-weight: $font-weight-default;
    }
  }

  &__tentang-saya {
    text-align: left;

    .h3 {
      font-size: $font-size-big;
      font-weight: $font-weight-default;
    }

    p {
      font-family: $font-secondary;
      font-size: $font-size-small;
      font-weight: $font-weight-default;
      line-height: $font-size-big;
    }
  }
}