.margin{
  &-l-big {
    margin-left: 25%;  

    @include respond(tab-land) {
      margin-left: 0;
    }
  }

  &-r-big {
    margin-right: 10% !important;
  }
}

.float {
  &__right {
    float: right !important;

    @include respond (tab-port) {
      float: none !important;
    }
  }
}