body {
  box-sizing: border-box;
}

// Delete all the colors if needed

.NMrow {
  margin: 0 auto;
  position: relative;

  @include respond(tab-land) {
    margin: 0 1em;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearFix;

  [class^="col-"] {
    float: left;

    @include respond(tab-land) {
      float: none;
      width: 100% !important;
    }

    
  }

  // 2 ROWS
  .col-1-of-2 {
    width: calc(100% / 2);
  }

  // 3 ROWS
  .col-1-of-3 {
    width: calc(100% / 3);
  }

  .col-2-of-3 {
    width: calc(100% / 3 * 2);
  }

  // 4 ROWS
  .col-1-of-4 {
    width: calc(100% / 4);

    @include respond(tab-land) {
      display: none;
    }
  
  }

  .col-2-of-4 {
    width: calc(100% / 4 * 2);
  }

  .col-3-of-4 {
    width: calc(100% / 4 * 3);
  }

  // 5 ROWS
  .col-1-of-5 {
    width: calc(100% / 5);
  }

  .col-2-of-5 {
    width: calc(100% / 5 * 2);
  }

  .col-3-of-5 {
    width: calc(100% / 5 * 3);
  }

  .col-4-of-5 {
    width: calc(100% / 5 * 4);  }
}














// COLUMNS
// Big gutter
.NMcol {
  height: inherit;
  background-color: yellow;
  border-right: white solid 1px;
  margin: 1rem 0;

  // This is for the whole, not each row
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearFix;

  [class^="row-"] {
    background-color: blueviolet;
    color: white;
    display: block;
  }

  .row-1-of-2 {
    height: calc(100% / 2);
  }

  .row-1-of-3 {
    height: calc(100% / 3);
  }

  .row-2-of-3 {
    height: calc(100% / 3 * 2);
  }

  .row-1-of-4 {
    height: calc(100% / 4);
  }

  .row-2-of-4 {
    height: calc(100% / 4 * 2);
  }

  .row-3-of-4 {
    height: calc(100% / 4 * 3);
  }

  .row-1-of-5 {
    height: calc(100% / 5);
  }

  .row-2-of-5 {
    height: calc(100% / 5 * 2);
  }

  .row-3-of-5 {
    height: calc(100% / 5* 3);
  }

  .row-4-of-5 {
    height: calc(100% / 5 * 4);
  }
  // Add the rest yourself, delete if needed

}
