.title {
  &__ruler {
    width: 90%;
    background-color: $grey-medium;
    opacity: .5;
  }
}
.section {
  margin-top: 10rem;
  position: relative;

  @include respond(tab-port) {
    margin-top: 2em;
  }

  &__kontak {
    margin-top: 20rem;

    @include respond(tab-port) {
      margin-top: 7em;
    }

    &--kiri {
      box-sizing: border-box;
      margin-top: 0;
      background-color: $light-pink;
      box-shadow: $box-shadow;
      height: 35rem;
      padding: 1.5rem 0rem 0 10%;

      @include respond(tab-land) {
        padding: 2em 0 0 0;
        text-align: center;
      }
    }

    &--kanan {
      box-sizing: border-box;
      background-color: $white;
      box-shadow: $box-shadow;
      height: 35rem;
      padding: 5rem;

      .icon {
        &__phone {
          margin-right: 1rem;
        }

        &__wa {
          margin-left: 1rem;
        }
      }

      &-tlp, &-email {
        margin-bottom: 5rem;
      }
    }
  }

  &__karya {
      
    &--kiri {
      box-sizing: border-box;
      background-color: $light-pink;
      box-shadow: $box-shadow-light;
      height: 15rem;
      padding: 4rem 3rem 0 0;

      @include respond(tab-land) {
        padding: 2em 0 0 0;
        text-align: center;
      }
      
      .h3 {
        margin: 0;
      }
    }

    &--kanan {
      box-sizing: border-box;
      box-shadow: $box-shadow-light;
      height: 15rem;
      padding-top: 2.2rem;
    }
  }

  &__tentang-saya {
    box-sizing: border-box;
    height: 80%;
    background-color: $light-blue;
    padding: 5rem 40rem 5rem 12rem;

    @include respond(tab-land) {
      margin-top: 3.5em;
      padding: 3em;
      text-align: center;
    }

    p {
      margin-bottom: 5rem;
    }
  }
}