// Font
$font-primary: 'Dancing script';
$font-secondary: 'Libre Baskerville', serif;
$font-size-small: 2rem;
$font-size-medium: 3rem;
$font-size-big: 5rem;
$font-size-huge: 6rem;
$font-weight-default: 100;

// Color
$white: #fff;
$black: #000000;
$grey-medium: #707070;
$grey-light: #a49494;

$blue: #5C66B4;
$green: #5CB485;
$red: #B45C5C;

$light-pink: #F6BFB7;
$light-blue: #C7D3EB;

// Box Shadow
$box-shadow-light: 0 3px 6px rgba(0, 0, 0, 0.08);
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
$box-shadow-clicked: 0 3px 3px rgba(0, 0, 0, 0.25);

// Section view
$per-section: 70vh;

// GRID
// Make the grid wider in general, change the rem or make a new one
$grid-width: 200rem;
$grid-height: 50rem;

// This is to change the space between col or rows
$gutter-horizontal: 6rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 3rem; // For col-small